
<!-- views/pages/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign up</title>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	<div class="container">
    <h2> Thank you for signing up. Please follow this <a href="/login"> link to login </a> </h2>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>
